@using app_mvc_core_identity.Extensions 
<h1>@ViewData["Title"]</h1>

<p>Secret</p>

@{
    if(this.IfChaim("Produtos", "Escrever"))
    {
        <p>Você só verá isso se tiver permissão de adicionar!</p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").IfChaimShow(Context, "Produtos", "Escrever")
</div>

<br>

<div>
    <button href="#" class="btn btn-danger @Html.Raw(this.IfChaimShow("Produtos", "Escrever"))">Excluir</button>
</div>


